{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.12.4"}
  metosin/reitit {:mvn/version "0.7.2"}
  metosin/reitit-ring {:mvn/version "0.9.2"}        ; เพิ่มบรรทัดนี้
  metosin/muuntaja {:mvn/version "0.6.11"}
  ring/ring-core {:mvn/version "1.15.3"}
  ring/ring-jetty-adapter {:mvn/version "1.15.3"}
  metosin/malli {:mvn/version "0.20.0"}}

 :aliases
 {:run-m {:main-opts ["-m" "chachacha.authservice"]}
  :run-x {:ns-default chachacha.authservice
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.10.11"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.2"}
                      io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :dev {:extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}}
        :main-opts ["-m" "nrepl.cmdline" "--bind" "127.0.0.1" "--port" "7888"]}}}
